.hero-container.blhero
  = image_tag "/images/home/hero-bg-left.svg", class: "hero-bg hero-bg-left", alt: "Gitlab hero background left svg"
  = image_tag "/images/home/hero-bg-right.svg", class: "hero-bg hero-bg-right", alt: "Gitlab hero background right svg"
  .hero-content
    .row
      .col-md-5.col-md-offset-1
        %h1.bold-headline.margin-top0.hero-item
          Faster releases. <br/>Better code. <br/>Less pain.
        .hero-item
          %p
            GitLab is a complete DevOps platform. Spend less time on your toolchain and more time on what matters: <strong>releasing great software.</strong>
      .col-md-5.col-md-offset-1.u-margin-top-sm
        .hero-thumb-container#hero-video-thumb
          = image_tag "/images/home/hero-video-thumb.png", class: "hero-thumb", alt: "Gitlab hero video thumb png"
          .hero-play-container
            = partial "includes/icons/home/hero-thumb-play.svg"
    .row.u-margin-top-sm
      .buttons-container.margin-top20.hero-item
        = link_to "/free-trial/", class: "btn cta-btn large orange-light" do
          Try GitLab for FREE
        = link_to "/demo/", class: "btn cta-btn large btn-white flex-container align-center" do
          .i.fas.fa-play.play-icon
          Watch a demo

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
