<h3 id="<%= performance_indicator.name.parameterize %>"><%= performance_indicator.name %></h3>


<% if performance_indicator.parent %>
   <p>This is a subset of an existing KPI. Please see <a href="<%=performance_indicator.parent=%>">the definition for the parent KPI.</a></p>
<% end %>

<p><%= performance_indicator.definition %></p>

<% if performance_indicator.target %>
  <p><b>Target:</b> <%= performance_indicator.target %></p>
<% end %>

<% if performance_indicator.public == false %>
  <p><b>This KPI cannot be public.</b> </p>
<% end %>

<% if performance_indicator.urls %>
  <b>URL(s)</b>
  <ul>
  <% performance_indicator.urls.each do |url| %>
    <li><a href="<%= url %>"><%= url %></a></li>
  <% end %>
  </ul>
<% end %>

<% if performance_indicator.sisense_data %>
  <b>Chart</b>
    <% if performance_indicator.sisense_data.shared_dashboard%>
      (<a href="https://app.periscopedata.com/shared/<%= performance_indicator.sisense_data.shared_dashboard %>">Sisense↗</a>)
    <% elsif performance_indicator.sisense_data.chart && performance_indicator.sisense_data.dashboard%>
      (<a href="https://app.periscopedata.com/app/gitlab/<%= performance_indicator.sisense_data.dashboard %>/?widget=<%= performance_indicator.sisense_data.chart %>">Sisense↗</a>)
    <% end %>
  <% if ENV['PERISCOPE_EMBED_API_KEY'] %>
    <embed width="100%" height="100%" style="min-height:300px;" src="<%= signed_periscope_url(performance_indicator.sisense_data) %>">
  <% else %>
    <p>You must set a <code>PERISCOPE_EMBED_API_KEY</code> environment variable to render this chart.</p>
  <% end %>
<% end %>

<b>Status: <%= color_code_health(performance_indicator.health.level) %></b>
<ul>
<% performance_indicator.health.reasons.each do |reason| %>
  <li><%= reason %></li>
<% end %>
</ul>

<% if performance_indicator.instrumentation %>
  <b>Instrumentation: <%= color_code_instrumentation(performance_indicator.instrumentation.level) %></b>
  <ul>
  <% performance_indicator.instrumentation.reasons.each do |reason| %>
    <li><%= reason %></li>
  <% end %>
  </ul>
<% end %>
